/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ECEFF4;
    background-image: url('fondo.png'); /* Usa la imagen subida */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Asegura que cubra toda la pantalla */
    margin: 0; /* Elimina márgenes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilo del título */
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: white; /* Letras blancas para mejor contraste */
}

/* Párrafos y enlaces */
p {
    font-size: 1.2em;
    color: white; /* Cambiado a blanco */
}

/* Imagen del logo */
img {
    max-width: 100px;
    margin-bottom: 10px;
}

/* Botón de enlace */
a {
    display: inline-block;
    background-color: #0088cc;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    background-color: #005f8a;
}
